.input-group{
    margin-left: 0;
}

.custom-data {
    &-key {
        width: 30%;
        margin-left: 0.25rem;
    }
    &-value {
        width: 58%;
        margin-left: 0.25rem !important;
    }
    &-remove-btn {
        margin: 2px 0px 1px  0.25rem !important;
    }
}

.custom-data-card {
	grid-area: q;
    .card-body-scroll-sm {
        height: 150px !important;
        overflow-y: auto;
    }
}

@media (max-width: 576px) {
    .custom-data {
        &-key {
            width: 100%;
        }
        &-value {
            width: 100%;
        }
        &-headers {
            display: none;
        }
        &-row {
            margin-bottom: 0.25rem;
        }
        &-remove-button {
            margin-left: 0.25rem;
        }
    }
}
