@import "~asab-webui/styles/constants/index.scss";

//CredentialsSessionCard, CredentialsRolesCard and CredentialsTenantsCard
.card-body-scroll {
	overflow-y: auto;
	height: 20vh !important;
}

//CredentialsDetailContainer/Credentials Status
.credential-status {
	display: inline-block;
	line-height: 24px;
	padding: 0 8px;
	border-radius: 24px;
}

.credential-active-status {
	color: $dark-green;
	background-color: $light-green;
}

.credential-suspended-status {
	color: $dark-pink;
	background-color: $pink;
}

.credential-invited-status {
	color: $primary;
	background-color: $beige-gray;
}

//CredentialsSessionCard
.user-session {
	color: $link-color;
}

.credential-detail-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"a a a a"
		"b b b b"
		"c c c c";
	row-gap: 0.25rem;

	.credential-detail-info-area {
		grid-area: a;
	}

	.credential-detail-resource-area {
		grid-area: b;
	}

	.credential-detail-json-area {
		grid-area: c;
	}
}

.role-item {
	display: flex;
	align-items: center
}

.btn-xs {
	min-height: 25px;
	padding: 0.25rem 0.5rem
}

.tenant-unselect-btn {
	min-height: 39px;
}

.credential-detail-info-wrapper {
	grid-template-areas: "f1 f1 h1 h1";
	display: grid;
	column-gap: 0.25rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;

	.credential-detail-area {
		grid-area: f1;
		display: grid;
		gap: 0.25rem;
		grid-template-areas:
			"top"
			"bottom";
		grid-template-rows: 2fr 1fr;
	}

	.info-detail-area {
		grid-area: h1;
		display: grid;
		gap: 0.25rem;
		grid-template-areas:
			"i"
			"q";
	}
}

.cred-info-card {
	grid-area: i;
}

.general-info-card {
	grid-area: top;
}

.login-info-card {
	grid-area: bottom;
}

.credential-resources-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		"a1 b2 c3";
	column-gap: 0.25rem;

	.credential-tenant-area {
		grid-area: a1;
	}

	.credential-session-area {
		grid-area: c3;
	}

	.credential-role-area {
		grid-area: b2;
	}
}


// CredentialsListContainer
.credentials-table-tenants,.credentials-table-tenants {
	max-width: 40ch;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 0;
	white-space: nowrap;
}

@media (max-width: 1200px) {
	.credentials-table-tenants,.credentials-table-tenants {
		max-width: 30ch;
	}
}

@media (max-width: 900px) {
	.credentials-table-tenants,.credentials-table-tenants {
		max-width: 20ch;
	}
}

@media (max-width: 994px) {
	.credential-detail-wrapper {
		grid-template-columns: auto;
		grid-template-areas:
		"a"
		"b"
		"c" !important;
	}

	.credential-detail-info-wrapper {
		grid-template-columns: auto;
		grid-template-areas:
		"f1"
		"h1";
		row-gap: 0.25rem;
	}

	.credential-resources-wrapper {
		grid-template-columns: auto;
		grid-template-areas:
		"a1"
		"b2"
		"c3";
		row-gap: 0.25rem;
	}

	.card-body-scroll {
		max-height: none;
		min-height: 1px;
	}
}

// BULK ASSIGNMENT
.bulk-actions-wraper {
    display: grid;
    grid-template-areas:
        "a a c c"
        "a a c c"
		"b b d d"
		"b b d d";

    grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.25rem;
    row-gap: 0.25rem;
	& .card-body {
		height: 35vh !important;
		overflow-y: auto;
	}
}

.credentials-list {
    grid-area: a;
}
.credentials-selection {
    grid-area: c;
}

.tenant-list {
    grid-area: b;
}
.tenant-selection {
	grid-area: d;
}

.credentials-list, .tenant-list {
	& .data-table-col0 {
		width: 3em !important;
	}
    & .data-table-thead .data-table-tr {
		height: 0px;
		.data-table-header-th {
			height: 0px;
		}
	}
    & .data-table-tbody {
        background-color: var(--bg-color) ;
        border: 0px;
        & tbody tr {
            border: 0px;
        }
    }

    & .data-table-card-body .table td {
        border: 0px;
    }

    & .data-table-tr, .data-table-tr th, .data-table-tr td {
        height: 30px;
    }
    & .table-sm td, .table-sm th {
        padding: 0;
    }
    tbody tr {
        border: 0px;
    }
}

.selected-row:hover {
    background-color: var(--table-bg-color-hover);
    color: var(--text-color);
}

@media (max-width: 994px) {
    .bulk-actions-wraper {
        // display: grid;
        grid-template-areas:
            "a"
            "c"
            "b "
            "d";
		grid-template-columns: auto;
	}
}
