// wrap all cards in RolesDetailContainer
.role-detail-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"a b"
		"c b"
		"d d";
	row-gap: 0.25rem;
	column-gap: 0.25rem;

	.role-detail-info {
		grid-area: a;
	}

	.role-detail-credentials-area {
		grid-area: b;
		& .data-table-card-body {
			overflow: auto;
		}
		& .row {
			height: auto !important;
		}
		.card-header-dropdown {
			border-radius: 0 8px 0 0;
		}
		.assign-credential-list-dropdown {
			max-height: 20em;
			overflow-y: auto;
		}
		.disabled-link {
			cursor: default;
			pointer-events: none;
			text-decoration: none;
		}

	}

	.role-resource-card-area {
		grid-area: c;
		max-height: 300px;
	}

	.role-detail-json-area {
		grid-area: d;
	}
}

// style for checkbox in RolesCreateContainer
.global-role-checkbox {
	padding-left: 1.1em;
}

@media (max-width: 994px) {
	.role-detail-wrapper {
		grid-template-areas:
			"a"
			"b"
			"c"
			"d";
		grid-template-columns: 1fr;

		.role-detail-info {
			width: 100%;
			padding-right: 0;
		}

		.role-detail-credentials-area {
			width: 100%;
			padding-left: 0;
		}
	}
}
